USE [reminder]
GO
/****** Object:  Table [dbo].[ProjeIlgilileri]    Script Date: 2/28/2023 4:15:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjeIlgilileri](
	[KullaniciID] [int] NOT NULL,
	[ProjeID] [int] NOT NULL
) ON [PRIMARY]
GO
